{% extends 'base.html' %}
{% load static %}

{% block title %} | Job Listing {% endblock %}

{% block content %}

<section class="home-section section-hero inner-page overlay bg-image"
         style="background-image: url({% static 'images/hero_1.jpg' %});"
         id="home-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <div class="mb-5 text-center">
                    <h1 class="text-white font-weight-bold">Apply For Job</h1>
                    <p>Find your dream jobs in our powerful career website template.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section" id="next-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <form action="{% url 'job_portal:submit_job' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black" for="file_resume">Upload Resume</label>
                            <input type="file" id="file_resume" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Submit" class="btn btn-primary btn-md text-white">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}